Repository onomyprotocol/onomy-sdk, pull requests merged in 2022-05, with the labels that each got.

#17 refactor: Rearrange bounds checks in `exp` function
  x/mint/types/inflation_curve.go
  x/mint/types/inflation_curve_test.go
Labels: C:x/mint

#18 feat: Module delegator slashing protection.
  .github/workflows/lint.yml
  simapp/app.go
  simapp/app_test.go
  x/auth/legacy/v043/store_test.go
  x/bank/simulation/operations.go
  x/gov/keeper/common_test.go
  x/staking/common_test.go
  x/staking/keeper/common_test.go
  x/staking/keeper/delegation.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/keeper.go
  x/staking/keeper/slash.go
  x/staking/keeper/slash_test.go
  x/staking/types/expected_keepers.go
Labels: C:x/gov, C:x/staking, C:x/auth, C:x/bank, C:Simulations, Type: CI

#20 feat: Vesting account withdrawal reward limitation.
  simapp/test_helpers.go
  x/auth/vesting/exported/exported.go
  x/auth/vesting/types/vesting_account.go
  x/auth/vesting/types/vesting_account_test.go
  x/distribution/keeper/delegation.go
  x/distribution/keeper/delegation_test.go
  x/distribution/spec/04_messages.md
  x/distribution/types/expected_keepers.go
Labels: C:x/auth, C:x/distribution

#21 refactor: Remove DistributionKeeper dependency from the staking keeper.
  simapp/app.go
  x/auth/legacy/v043/store_test.go
  x/gov/keeper/common_test.go
  x/staking/common_test.go
  x/staking/keeper/common_test.go
  x/staking/keeper/grpc_query_test.go
  x/staking/keeper/keeper.go
  x/staking/keeper/slash.go
  x/staking/types/expected_keepers.go
Labels: C:x/gov, C:x/staking, C:x/auth
